.feature {
}

.feature__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  margin-top: 16px;
}

.feature__description {
  margin-top: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  max-width: 255px;
}
