.footer {
  padding: 70px 44px;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__cell1 {
  max-width: 423px;
  width: 100%;
}

.footer__logo {
}

.footer__title {
  margin-top: 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-text-on-dark);
}

.footer__descr {
  margin-top: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-text-on-dark);
}

.footer__button {
  margin-top: 7px;
  padding-left: 0;
  padding-right: 0;
}

.footer-button__text {
}

.footer__cell2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 52px;
}

.footer__menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-text-on-dark);
  display: flex;
  max-width: 549px;
  width: 100%;
  margin-left: auto;
}

.footer__links {
  display: flex;
  gap: 25px;
  margin-left: auto;
  max-width: 549px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer__link {
}

.footer__cell3 {
  grid-row: 2;
  grid-column: 1/3;
  background: var(--color-text-on-dark);
  opacity: 0.08;
  height: 1px;
  margin-top: 22px;
}

.footer__pitch {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: var(--color-text-on-dark);
  max-width: 387px;
  margin-top: 30.6px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--color-text-on-dark);
  margin-top: 36.6px;
}
