.goal {
}

.goal__head {
  display: flex;
  gap: 16px;
}

.goal__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: var(--color-text-primary);
}

.goal__description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--color-text-primary);
  max-width: 255px;
  width: 100%;
}
