.headline2 {
  padding: 111px 0;
}

.headline2__content {
  max-width: 825px;
}

.headline2__title {
  max-width: 540px;
  width: 100%;
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
}

.headline2__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 68px;
  row-gap: 102px;
}
