.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  background: var(--color-bg-dark);
  flex-shrink: 0;
  color: var(--color-text-primary);
}

.page__content {
  flex-grow: 1;
  background-color: var(--color-bg-primary);
}

.page__footer {
  flex-shrink: 0;
  background-color: var(--color-bg-dark);
}
