.partners {
  display: flex;
  gap: 30px;
}

.partners__philips {
  padding-top: 8px;
}

.partners__logitect {
}

.partners__amazon {
  padding-top: 8px;
}

.partners__facebook {
}

.partners__google {
}

.partners__linked {
}
