.success {
  padding: 115px 0;
}

.success__content {
  background: var(--base-bg-secondary);
  display: flex;
  padding: 116px 0 116px 95px;
  justify-content: space-between;
  margin: 0 85px;
}

.success__text {
  max-width: 588px;
}

.success__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
}

.success__description {
  font-weight: 400;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: var(--base-text-secondary);
  margin-top: 32px;
}

.success__logitech-logo {
  margin-top: 32px;
}

.success__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--global-primary);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -4px;
}

.success__slider {
  margin-top: 30px;
}

.success__media {
}
